

body{
   background-color: #111;
}

#menu-nav{
    border:1px solid transparent;
    width:265px;
    float:right ;
    margin-top: 12px;
    margin-right: 25px;
}

#menu-nav li{
    display: inline;
    border:1px solid transparent;
    cursor: pointer;
    margin-left: 15px;
    color: #fff;
}

#menu-nav li:hover {
    color:aqua;
}

#navigator{
    margin-top: 10px;;
    border:1px solid;
    height:50px;
}

#sand{
    display: none;
    color:#fff;
    margin-top: 6px;
    margin-right: 15px;
    float: right;

}
@media screen and (max-width: 600px) {

    #menu-nav{
        display: none;
    }
    #sand{
        display: block;
    }
}